# Maven
.mvn/wrapper/maven-wrapper.jar
target/

# IDE
.idea/
**/*.iml
.vscode/

# Java
*.class
*.jar
*.war

# Logs
*.log

# OS
.DS_Store

# Secrets
.env

# App
uploads/

# Frontend
frontend/node_modules/
frontend/dist/
