services:
  spring-app:
    container_name: spring-app-prod
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8081:8081"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    depends_on:
      - postgres
      - redis

  postgres:
    image: postgres:15
    container_name: postgres-prod
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: hsj
      POSTGRES_PASSWORD: runner12
    ports:
      - "5432:5432"
    volumes:
      - postgres_data_prod:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: redis-prod
    ports:
      - "6379:6379"
    volumes:
      - redis_data_prod:/data

volumes:
  postgres_data_prod:
  redis_data_prod:
